<h1>Stuff I work with</h1>
<p>
  Most of my skills are backend-oriented and focus on web app development in ASP.NET Core. My strong interests are
  around cloud computing for webapps &amp; IoT, a buzzword of recent times: <strong>microservices</strong>, event
  sourcing and CQRS.
</p>

<ul>
  <li>C#, .NET Core, ASP.NET Core</li>
  <li>MS SQL, Redis, EventSource</li>
  <li>Experience with RabbitMq, CQRS, Saga Pattern</li>
  <li>Experience with Consul.io, Vault.io</li>
</ul>

<div class="logos row mt-5 mb-5">
  <div class="col"><img src="assets/dotnet-core.png" alt=""></div>
  <div class="col"><img src="assets/ms-sql.jpg" alt=""></div>
  <div class="col"><img src="assets/redis.png" alt=""></div>
  <div class="col"><img src="assets/rabbitmq.png" alt=""></div>
</div>

<h2>Not only backend</h2>
<p>Event though I consider myself as a fully dedicated backend developer, I often play and experiment with frontend
  technologies as well. For example, go ahead and take a look at <a href="https://github.com/ksitarek/personal">code of
    this very page</a> written in Angular.io.</p>

<div class="logos row mt-5 mb-5">
  <div class="col"><img src="assets/angular.png" alt=""></div>
</div>


<h2>I am S.O.L.I.D.</h2>
<p>... and I know this is another buzzword of recent times. But I really am, go ahead and <a href="/contact">check me
    out</a>!</p>