<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="/" class="navbar-brand">Krystian Sitarek</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a href="/" class="nav-link">Who am I?</a></li>
    <li class="nav-item"><a href="/programming" class="nav-link">Programming</a></li>
    <li class="nav-item"><a href="/devops" class="nav-link">DevOps</a></li>
    <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
  </ul>
</nav>

<div class="container pt-5">
  <router-outlet></router-outlet>
</div>