<div class="row mt-5 d-flex">
  <div class="col-12 col-md-3 col-lg-3 order-2 order-md-1">
    <figure class="figure" id="avatar">
      <img src="/assets/avatar.png" alt="It's me!" class="m-auto figure-img">
      <figcaption class="figure-caption">This is pretty much how I look.</figcaption>
    </figure>
  </div>

  <div class="col-12 col-md-2"></div>

  <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2">
    <h1 class="mt-lg-5">My name is Krystian.</h1>
    <p>
      On day-to-day work I consider myself as a passionate backend developer with huge love for software craftmanship.
    </p>
  </div>
</div>