<h1>Development &infin; Operations</h1>
<p><em>This page, as well as my experience with DevOps is still in progress. Maybe you'd want to help me to <a
      href="">gain more experience</a>? ;)</em></p>

<div class="row">
  <div class="col-6">
    <h2>CI & CD</h2>
    <ul>
      <li>Jenkins</li>
      <li>Travis CI</li>
      <li>Azure DevOps</li>
      <li>GitLab Pipeline</li>
    </ul>
  </div>

  <div class="col-6">
    <h2>Infrastructure</h2>
    <ul>
      <li>
        <span>Azure</span>
        <ul>
          <Li>Azure WebApps</Li>
          <Li>Azure Functions</Li>
          <Li>Azure Storage</Li>
          <Li>Azure ServiceBus</Li>
        </ul>
      </li>
    </ul>
  </div>
</div>